---
layout: page
title: Blogs by Category
---
<div class="category-filter">
  
  {% assign all_categories = site.categories | sort %}

  Please note that some posts may appear in multiple categories.
  
  <div class="category-list">
    {% for category in all_categories %}
      <h2 id="{{ category[0] }}">{{ category[0] }}</h2>
      <ul>
        {% for post in category[1] %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
            <span class="date">{{ post.date | date: "%B %d, %Y" }}</span>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>